In [39]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
%sql mysql+pymysql://root:psenjen@localhost:3306/muwanwaa

'Connected: root@muwanwaa'

# Question 1: Customer Demographics - Where are our customers located?
# Objective: Understanding the geographical distribution of customers.
From the Query below we can tell the top five cities and state where our customers are located.

In [15]:
%%sql

select 
customer_city,
customer_state, 
count(customer_id) as number_of_customers
from muwanwaa.customers
group by 
customer_city,
customer_state
order by number_of_customers desc,customer_city,customer_state 
limit 5;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('Caguas', 'PR', 4584),
 ('Chicago', 'IL', 274),
 ('Brooklyn', 'NY', 225),
 ('Los Angeles', 'CA', 224),
 ('New York', 'NY', 120)]

# Counting customers by states only to narrow down

In [17]:
%%sql 
select 
customer_state,
count(customer_id) as number_of_customers
from muwanwaa.customers
group by customer_state
order by count(customer_id) desc
limit 5
;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('PR', 4771), ('CA', 2012), ('NY', 775), ('TX', 635), ('IL', 523)]

# COUNTING NUMBER OF CUSTOMERS PER CITY ONLY

In [18]:
%%sql

select 
customer_city,
count(customer_id) as number_of_customers
from muwanwaa.customers
group by customer_city
order by count(customer_id) desc
limit 5
;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('Caguas', 4584),
 ('Chicago', 274),
 ('Brooklyn', 225),
 ('Los Angeles', 224),
 ('New York', 120)]

# Question 2: Categories Analysis - What are the most popular product categories?
# Objective: Identify which product categories are available and potentially which ones are most relevant.
Provides an overview of the product categories in the database.

In [24]:
%%sql

select 
category_name,
count(*) as number_categories
from muwanwaa.categories
group by category_name
having count(*) > 1
order by number_categories desc

;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
2 rows affected.

[('Accessories', 3), ('Electronics', 2)]

# COUNTING PRODUCTS PER CATEGORY - this Shows which categories have more products listed, indicating depth of inventory.

In [26]:
%%sql

select 
c.category_name,
count(p.product_id) as total_products
from muwanwaa.categories c
JOIN products p ON c.category_id = p.product_category_id
group by c.category_name
order by total_products desc
limit 5
;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('Accessories', 72),
 ("Kids' Golf Clubs", 48),
 ('Trade-In', 48),
 ('Electronics', 48),
 ('International Soccer', 24)]

# Question 3: Customer Activity - How many orders do customers place on average, and who are the most active customers?
# Objective: Analyze customer engagement based on order placement.

In [30]:
%%sql 

select
c.customer_id,
c.customer_fname,
c.customer_lname,
count(o.order_id) as total_orders_placed
from muwanwaa.customers c 
JOIN muwanwaa.orders o
ON 
c.customer_id = o.order_customer_id
group by 
c.customer_id,
c.customer_fname,
c.customer_lname
order by total_orders_placed desc
limit 5
;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[(569, 'Mary', 'Frye', 16),
 (5897, 'Mary', 'Griffin', 16),
 (12431, 'Mary', 'Rios', 16),
 (6316, 'Kyle', 'Smith', 16),
 (5283, 'Jacob', 'Guerrero', 15)]

It identifies high-value or frequently purchasing customers.

In [ ]:
# Calculate the average number of orders per customer it Provides a benchmark for overall customer engagement.

In [32]:
%%sql

with customer_order_counts as (
select 
order_customer_id,
count(*) as orders_per_customer
from muwanwaa.orders
group by order_customer_id
)
select avg(orders_per_customer) as avg_orders_per_customer
from customer_order_counts;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
1 rows affected.

[(Decimal('5.5528'),)]

# Question 4: Sales Performance - What are the top-selling products/categories by revenue or quantity?
# Objective: Identify the most successful products
# Shows which specific products are generating the most income.

In [36]:
%%sql

with productRevenue as (
                        select
                         oi.order_item_product_id,
                          ROUND(sum(order_item_subtotal),4)as total_revenue
                         from 
                         muwanwaa.order_items oi 
                         group by 
                         oi.order_item_product_id
                        )
 select 
p.product_name,
pr.total_revenue

from 
productRevenue pr
 JOIN 
 muwanwaa.products p ON pr.order_item_product_id = p.product_id
 order by 
 pr.total_revenue desc   
limit 5;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('Field & Stream Sportsman 16 Gun Fire Safe', 6929653.6903),
 ('Perfect Fitness Perfect Rip Deck', 4421143.1435),
 ("Diamondback Women's Serene Classic Comfort Bi", 4118425.5708),
 ("Nike Men's Free 5.0+ Running Shoe", 3667633.1967),
 ("Nike Men's Dri-FIT Victory Golf Polo", 3147800.0)]

 # Identify the most successful categories.q

In [40]:
%%sql

WITH CategoryRevenue AS (
    SELECT
        c.category_name,
        SUM(oi.order_item_subtotal) AS total_revenue
    FROM
        order_items oi
    JOIN
        products p ON oi.order_item_product_id = p.product_id
    JOIN
        categories c ON p.product_category_id = c.category_id
    GROUP BY
        c.category_name
)
SELECT
    category_name,
    total_revenue
FROM
    CategoryRevenue
ORDER BY
    total_revenue DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('Fishing', 6929653.690338135),
 ('Cleats', 4431942.783172607),
 ('Camping & Hiking', 4118425.570831299),
 ('Cardio Equipment', 3694843.196662903),
 ("Women's Apparel", 3147800.0)]

# Question 5: Order Status Analysis - What is the distribution of order statuses?
# Objective: Understand the typical lifecycle of an order and identify potential bottlenecks.
# Reveals how many orders are pending, completed, canceled, etc., which can inform operational efficiency.

In [41]:
%%sql

select 
order_status,
count(order_id) as number_of_orders

from Orders
group by order_status

order by number_of_orders
limit 5
;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('PAYMENT_REVIEW', 729),
 ('CANCELED', 1428),
 ('SUSPECTED_FRAUD', 1558),
 ('ON_HOLD', 3798),
 ('CLOSED', 7556)]

# Question 6: Sales Trend Analysis - How has revenue changed over time?
# Objective: Identify periods of high/low sales and understand trends.

In [55]:
%%sql

select 
date_format(order_date, '%Y-%M') as sales_month,
round(sum(oi.order_item_subtotal),4) as monthly_revenue
from orders o

JOIN 
order_items oi 
ON o.order_id = oi.order_item_order_id
GROUP BY
    sales_month
ORDER BY
    monthly_revenue
LIMIT 5
;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
5 rows affected.

[('2013-July', 764782.2047),
 ('2014-July', 2238496.5645),
 ('2013-October', 2624600.6606),
 ('2014-June', 2703463.4913),
 ('2014-May', 2753078.2738)]

# Daily Revenue on Average

In [52]:
%%sql

with DailyRevenue as (
                     select 
                    DATE(order_date) AS order_day,
                    round(SUM(oi.order_item_subtotal),4)AS daily_total
                    
                    from orders o
                    JOIN order_items oi ON o.order_id = oi.order_item_order_id
                    group by order_day
                    )

            select 
            avg(daily_total) as  average_daily_revenue
            FROM
                DailyRevenue;

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
1 rows affected.

[(94292.91373297,)]

# IDENTIFYING TOP SELLING PRODUCT IN EACH CATEGORY

In [54]:
%%sql

WITH RankedProducts AS (
    SELECT
        p.product_name,
        c.category_name,
        SUM(oi.order_item_subtotal) AS total_product_sales, -- Sum sales for the product
        ROW_NUMBER() OVER (PARTITION BY c.category_name ORDER BY SUM(oi.order_item_subtotal) DESC) AS sales_rank_in_category
    FROM
        products p
    JOIN
        categories c ON p.product_category_id = c.category_id
    JOIN
        order_items oi ON p.product_id = oi.order_item_product_id
    GROUP BY
        p.product_name,
        c.category_name -- Group by product and category to sum sales per product
)
SELECT
    category_name,
    product_name,
    total_product_sales,
    sales_rank_in_category -- <<< THIS IS THE CRUCIAL LINE to select the new column
FROM
    RankedProducts
WHERE
    sales_rank_in_category = 1; -- Filter for only the top-ranked product per category

 * mysql+pymysql://root:***@localhost:3306/muwanwaa
32 rows affected.

[('Baseball & Softball', "adidas Men's F10 Messi TRX FG Soccer Cleat", 56330.61164474487, 1),
 ("Girls' Apparel", 'adidas Youth Germany Black/Red Away Match Soc', 67830.0, 1),
 ('Golf Gloves', 'Clicgear Rovic Cooler Bag', 34671.330463409424, 1),
 ('Camping & Hiking', "Diamondback Women's Serene Classic Comfort Bi", 4118425.570831299, 1),
 ('Soccer', 'Elevation Training Mask 2.0', 18477.689971923828, 1),
 ('Hunting & Shooting', 'ENO Atlas Hammock Straps', 29930.019744873047, 1),
 ('Fishing', 'Field & Stream Sportsman 16 Gun Fire Safe', 6929653.690338135, 1),
 ("Kids' Golf Clubs", 'Fitbit The One Wireless Activity & Sleep Trac', 18690.649826049805, 1),
 ('Golf Balls', "Glove It Women's Imperial Golf Glove", 18810.589794158936, 1),
 ('Trade-In', "Glove It Women's Mod Oval 3-Zip Carry All Gol", 20450.69975090027, 1),
 ('Golf Shoes', "LIJA Women's Eyelet Sleeveless Golf Polo", 61490.0, 1),
 ("Men's Golf Clubs", "Merrell Women's Grassbow Sport Hiking Shoe", 20697.92999267578, 1),
 ("Men's Footwear", "Nike Men's CJ Elite 2 TD Football Cleat", 2891757.6622009277, 1),
 ('Tennis & Racquet', "Nike Men's Comfort 2 Slide", 44585.09062957764, 1),
 ("Women's Apparel", "Nike Men's Dri-FIT Victory Golf Polo", 3147800.0, 1),
 ('Cardio Equipment', "Nike Men's Free 5.0+ Running Shoe", 3667633.196662903, 1),
 ('As Seen on  TV!', "Nike Men's Free TR 5.0 TB Training Shoe", 20597.939964294434, 1),
 ('Hockey', "Nike Women's Legend V-Neck T-Shirt", 20025.0, 1),
 ('Indoor/Outdoor Games', "O'Brien Men's Neoprene Life Vest", 2888993.91355896, 1),
 ('Golf Bags & Carts', 'Ogio Race Golf Shoes', 10369.390335083008, 1),
 ('Water Sports', 'Pelican Sunstream 100 Kayak', 3099845.085144043, 1),
 ('Cleats', 'Perfect Fitness Perfect Rip Deck', 4421143.14352417, 1),
 ('Basketball', 'SOLE E25 Elliptical', 9999.89990234375, 1),
 ('Strength Training', 'SOLE E35 Elliptical', 29999.849853515625, 1),
 ("Women's Golf Clubs", 'TaylorMade White Smoke IN-12 Putter', 19298.0698928833, 1),
 ('Accessories', 'Team Golf St. Louis Cardinals Putter Grip', 23940.419778823853, 1),
 ('Electronics', 'Titleist Pro V1x High Numbers Personalized Go', 47206.921463012695, 1),
 ('Golf Apparel', "Top Flite Women's 2014 XL Hybrid", 17731.1298122406, 1),
 ('Shop By Sport', "Under Armour Girls' Toddler Spine Surge Runni", 1269082.6712722778, 1),
 ('Fitness Accessories', 'Under Armour Hustle Storm Medium Duffle Bag', 29601.540645599365, 1),
 ('Lacrosse', "Under Armour Men's Tech II T-Shirt", 20866.64980506897, 1),
 ('Boxing & MMA', "Under Armour Women's Micro G Skulpt Running S", 46559.59103393555, 1)]